@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto",sans-serif;
}

.top{
    background-color: #7030CB;
    height: 92vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
    gap: 150px;
    margin: 0 130px 0 130px;
    /* display: none; */
}

.another-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.nav-item:hover{
    color: #31bcdf;
}

.logo-top img{
    width: 100px;
}

.nav-lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 60px;
    color: #ffffff;
    /* margin-left: 300px; */
}
.btn{
    background-color:#23BCEF;
    border: none;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.flex-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
   margin: 0 90px 0 90px;
}

.flex-1-right img{
    width: 750px;
   
}
.flex-1-left{
    max-width: 500px;
}
.head-1{
    font-size: 58px;
    color: #ffffff;
}
.line-1{
font-size: 15px;
color: #ffffff;
font-weight: 300;
margin-top: 25px;
}

.flex-2{
    display: flex;
    flex-direction: row;
    margin: 80px 130px 0 100px;
    justify-content: space-between;
    
}
.flex-2-right{
    width: 450px;
    margin-top: 110px;
}
.flex-2-left img{
    width: 700px;
   
}
.head-2{
    font-size: 33px;
}
.points{
    margin-top: 50px;
    width:350 ;
   
}
.topic{
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
}
.desc{
    font-weight: 300;
    margin-top: 15px;
    margin-left: 37px;
}
.fa-reply{
    margin-right: 15px;
}
.points div:nth-child(1) i{
    color: orange;
}
.points div:nth-child(2) i{
    color: #42f248;
}
.points div:nth-child(3) i{
    color: #31bcdf;
}

.single-line{
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
}

.portray-1, .portray-3, .portray-4{
    width: 50px;
}
.portray-2{
    width: 50px;
}
.flex-3{
    margin: 70px 200px 0px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding-bottom: 50px;
    /* height: 350px; */
}
.feature{
    /* width: 220px;
    height: 280px; */
    border-radius: 30px;
    box-shadow: 4px 4px 5px  rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.feature-line{
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius:30px ;
}
.feature:hover>.feature-line, .feature:hover>.feature-line-1, .feature:hover>.feature-line-2{
    background-color: #7030CB;
    color: #ffffff;
}
.feature-line-1{
    font-size: 20px;
    margin-top: 15px;
}
.feature-line-2{
    margin-left: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
}
.portray{
    margin-left: 23px;
    margin-top: 23px;
}

.back-1{
    background-color: #F9EBEB;
}
.back-2{
    background-color: #FBF0EE;
}
.back-3{
    background-color: #E9F5F7;
}
.back-4{
    background-color: #F2E7F5;
}

@media screen and (max-width:768px) {
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 25px;
        justify-content: space-between;
        gap: 30px;
        margin: 0 50px 0 50px;
    }
    .another-flex{
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .top{
        height: 550px;
    }
    .nav-lists{
        gap: 15px;
        font-size: 15px;
        padding-top:10px ;
    }
    .btn{
        padding: 10px 10px;
        font-size: 15px;
    }
    .flex-1{
        margin:50px 50px 0 50px ;
    }
    .flex-1-right img{
       width: 380px;
    }
    .flex-1-left{
        margin-left: 0;
    }
    .head-1{
        font-size: 33px;
        max-width: 280px;
    }
    .line-1{
        max-width: 280px;
    }
    .flex-2{
        margin: 0px 50px 0 50px;
        align-items: center;
    }
    .flex-2-left img{
        width: 360px;
        margin-top: 50px;
    }
    .head-2{
        font-size: 28px;
        text-align: center;
    }
    .single-line{
        font-size: 31px;
    }
    .flex-3{
        margin: 70px 50px 0 50px;
    }
    .feature-line-1{
        font-size: 18px;
    }
    .feature-line-2{
        font-size: 15px;
        padding: 0 7px 0 7px;
    }
}

@media screen and (max-width:425px) {
    .nav-lists{
        display: none;
    }
    .flex-1{
        margin: 50px 30px 0 30px;
        display: flex;
        flex-direction: column;
    }
    .top{
        height: 650px;
    }
    .flex-1-left{
    }
    .head-1, .line-1{
        text-align: center;

    }
   
    .flex-2{
    margin: 80px 50px 0 50px;
    flex-direction: column-reverse;

    }
    .head-2{
       margin: 0 30px;
    }
    .flex-2-right{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .points{
        display: flex;
        flex-direction: column;
        margin: 0 50px 0 50px;
    }
    .topic{
        font-size: 21px;
    }
    .flex-3{
        display: grid;
    grid-template-columns: 1fr 1fr;
    }
}


